<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8JLBAht_ly9goaIS71uXY-_Gwp6qZCpA</string>
	<key>GCM_SENDER_ID</key>
	<string>387592022734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SG.MachineGE</string>
	<key>PROJECT_ID</key>
	<string>machinege-f2a64</string>
	<key>STORAGE_BUCKET</key>
	<string>machinege-f2a64.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387592022734:ios:c39d6720f1e1c16e887e9f</string>
</dict>
</plist>